<div class="page-header">
  <div class="container">
    <h1>
      AVNON <small>Address Book</small>
    </h1>
  </div>
</div>

<div class="navbar navbar-default">
  <div class="container container-fluid">
    <search-bar (onSearch)="onSearch($event)" (onSearchByTag)="onSearchByTag($event)"></search-bar>
    <button (click)="logout()">Logout</button>
  </div>
</div>

<div class="container container-fluid">
  <div class="row">
    <div class="col-md-5 col-md-push-7 col-sm-6 col-sm-push-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-7 col-md-pull-5 col-sm-6 col-sm-pull-6">
      <contact-summary (onDeleteTag)="onDeleteTag($event)" (onEditTag)="onEditTag($event)" *ngFor="let contact of contacts" [contact]="contact">
      </contact-summary>
    </div>
  </div>
</div>
